/ref/1984--Cederbaum--Some_applications_of_graph_theory_to_network_analysis_and_synthesis.pdf
/ref/2005--Kolka_and_Biokova--Algebraic_Simplification_of_Circuit_Models.pdf
/ref/2012--Sadavare_and_Kulkarni--Electrical_Networks_and_Algebraic_Graph_Theory_Models_Properties_and_Applications.pdf
/ref/1988--Reinschke--multivariable-control-a-graph-theoretic-approach_convert_compress.pdf
/ref/2013--LESTACH_MIKOVA_PRADA_and_VIRGALA--EXPERIMENTAL_VALIDATION_OF_THE_EFFECT_OF_PISTON_SP.pdf
/ref/1988--Reinschke--multivariable-control-a-graph-theoretic-approach.pdf
/ref/1961--Sundaram_and_Reed--Linear_graphs_and_electrical_networks.txt
/ref/1961--Sundaram_and_Reed--Linear_graphs_and_electrical_networks.pdf
/ref/2011--Dorfler_and_Bullo--Kron_Reduction_of_Graphs_with_Applications_to_Electrical_Networks.pdf
/ref/2007--Lamoureux_and_. Margrave--A_band-limited_minimum_phase_calculation.pdf
/ref/2016--Daasch_Svaricek,_and_Schultalbers--Strong_structural_non-minimum_phase_systems.pdf
/ref/2019--Akhmetbaev_Akhmetbaev_and_Dzhandigulov--New_Approaches_to_the_Topological_Method_of_Analysis_of_Electrical_Networks.pdf
/ref/2019--Daasch--Determination_of_Non-Minimum_Phase_Systems_by_the_Structural_Approach.pdf
/ref/2023--LESTACH1_et_al--Non_minimum_phase_systems.pdf
